/* Base Reset
   =================================================== */

html {
    font-size: 16px;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Open Sans';
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Nav styles
   =================================================== */

.header {
  height: 80px;
  background: #3c2415;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
}

.logo-holder {
  height: 80%;
  width: auto;
  vertical-align: middle;
}

.logo {
  height: 100%;
}

.header-links {
  display: flex;
  gap: 40px;
}

.link {
  color: white;
  text-decoration: none;
}

.hero-container {
  background: #3c2415;
}

.hero {
  display: flex;
  /* background: #3c2415; */
  padding: 80px 120px;
  margin: 0 auto;
  width: 2000px;
}

.hero-text {
  display: flex;
  min-width: 300px;
  /* width: 400px; */
  flex: 3;
  color: white;
  flex-direction: column;
}

.hero-img {
  flex: 2;
  /* flex-shrink: 3; */
}